.login-panel {
  margin-top: 35%;
  padding-top: 50px; }
  .login-panel h3 {
    margin-bottom: 25px; }
  .login-panel input[type='password'] {
    margin-bottom: 35px; }
  .login-panel .button {
    width: 100%;
    text-transform: uppercase; }
  .login-panel .split.button {
    padding-left: 70px; }
    .login-panel .split.button.facebook {
      background: #3b5998; }
    .login-panel .split.button span {
      background: #2d4373; }
      .login-panel .split.button span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: 2rem;
        line-height: 0.25rem;
        margin-left: -0.7rem; }
